<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="navbar" class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
    <div class="container">
        <div class="nk-nav-table">

            <a href="/" class="nk-nav-logo">
                <img src="assets/images/logo.png" alt="GoodGames" width="199">
            </a>

            <ul class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">

                <li class=" nk-drop-item">
                    <a sec:authorize="hasRole('ROLE_ADMIN')">
                        Admin

                    </a><ul class="dropdown">
                    <li>
                        <a href="/users/change-user-role">
                            Promote a user

                        </a>
                    </li>
                    <li>
                        <a href="/users/demote-user">
                            Demote a user

                        </a>
                    </li>
                    <li>
                        <a sec:authorize="hasRole('ROLE_OWNER')" href="/users/delete-user">
                            Delete a user

                        </a>
                    </li>
                    <li>
                        <a sec:authorize="hasRole('ROLE_OWNER')" href="/users/billing">
                            User billing histories

                        </a>
                    </li>
                </ul>
                </li>

                <li>
                    <a href="news">
                        News

                    </a>
                </li>

                <li class=" nk-drop-item">
                    <a>
                        Features

                    </a><ul class="dropdown">
                    <li>
                        <a href="/coming-soon">
                            Coming Soon

                        </a>
                    </li>
                </ul>
                </li>
                <li>
                    <a href="gallery">
                        Gallery

                    </a>
                </li>
                <li class=" nk-drop-item">
                    <a href="store">
                        Store

                    </a><ul class="dropdown">
                    <li>
                        <a href="store-cart">
                            Shopping Cart

                        </a>
                    </li>
                </ul>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" th:href="@{/users/games}">
                        Your games

                    </a>
                </li>
                <li>
                    <form th:action="@{/users/logout}" method="POST">
                        <a sec:authorize="${isAuthenticated()}" th:href="@{/users/logout}">
                            Logout

                        </a>
                    </form>
                </li>
                <li sec:authorize="${!isAuthenticated()}" class=" nk-drop-item">
                    <a>
                        Users

                    </a><ul class="dropdown">
                    <li>
                        <a href="/users/register">
                            Register

                        </a>
                    </li>
                    <li>
                        <a href="/users/login">
                            Login

                        </a>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="topContacts" class="nk-contacts-top">
    <div class="container">
        <div class="nk-contacts-right">
            <ul class="nk-contacts-icons">
                <li>
                    <span class="nk-cart-toggle">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="nk-badge">27</span>
                    </span>
                    <div class="nk-cart-dropdown">

                        <div class="nk-widget-post">
                            <a href="store-product.html" class="nk-post-image">
                                <img src="assets/images/product-5-xs.jpg" alt="In all revolutions of">
                            </a>
                            <h3 class="nk-post-title">
                                <a href="#" class="nk-cart-remove-item"><span class="ion-android-close"></span></a>
                                <a href="store-product.html" >In all revolutions of</a>
                            </h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 23.00</div>
                        </div>

                        <div class="nk-widget-post">
                            <a href="store-product.html" class="nk-post-image">
                                <img src="assets/images/product-7-xs.jpg" alt="With what mingled joy">
                            </a>
                            <h3 class="nk-post-title">
                                <a href="#" class="nk-cart-remove-item"><span class="ion-android-close"></span></a>
                                <a href="store-product.html">With what mingled joy</a>
                            </h3>
                            <div class="nk-gap-1"></div>
                            <div class="nk-product-price">€ 14.00</div>
                        </div>

                        <div class="nk-gap-2"></div>
                        <div class="text-center">
                            <a href="store-checkout" class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white">Check cart</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<footer th:fragment="footer" class="footer align-center">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy;GoodGames 2021. All rights reserved.
        </div>
    </div>
</footer>

<body>

</body>
</html>