<!DOCTYPE html>

    
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames | Game Forum</title>

    <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">

    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="assets/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    
    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    
    
</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    
        



<!--
    Additional Classes:
        .nk-header-opaque
-->
<header class="nk-header nk-header-opaque">

    
    
<!-- START: Top Contacts -->
<div th:replace="fragments/fragment :: topContacts" class="nk-contacts-top">

</div>
<!-- END: Top Contacts -->

    

    <!--
        START: Navbar

        Additional Classes:
            .nk-navbar-sticky
            .nk-navbar-transparent
            .nk-navbar-autohide
    -->
    <nav th:replace="fragments/fragment :: navbar" class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">

    </nav>
    <!-- END: Navbar -->

</header>

    
    
        <!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
-->
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="home.html" class="nk-nav-logo">
                <img src="assets/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav">
                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Navbar Mobile -->

    

    <div class="nk-main">
        
            <!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        
        
        <li><a href="/">Home</a></li>
        
        
        <li><span class="fa fa-angle-right"></span></li>
        
        <li><span>Forum</span></li>
        
    </ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

        

        
    <div class="container">

        <!-- START: Forums List -->
        <ul class="nk-forum">
            <li>
                <div class="nk-forum-icon">
                    <span class="ion-ios-game-controller-b"></span>
                </div>
                <div class="nk-forum-title">
                    <h3><a href="forum-topics.html">Main Game Discussions</a></h3>
                    <div class="nk-forum-title-sub">Be seed is air female greater was multiply saying great</div>
                </div>
                <div class="nk-forum-count">
                    1267 threads
                </div>
                <div class="nk-forum-activity-avatar">
                    <a href="forum-single-topic.html">
                        <img src="assets/images/avatar-1.jpg" alt="Hitman">
                    </a>
                </div>
                <div class="nk-forum-activity">
                    <div class="nk-forum-activity-title" title="GodLike the only game that I want to play!">
                        <a href="forum-single-topic.html">GodLike the only game that I want to play!</a>
                    </div>
                    <div class="nk-forum-activity-date">
                        September 11, 2018
                    </div>
                </div>
            </li>
            <li class="nk-forum-locked">
                <div class="nk-forum-icon">
                    <span class="ion-help-buoy"></span>
                </div>
                <div class="nk-forum-title">
                    <h3><a href="forum-topics.html">Guides and Tips</a></h3>
                    <div class="nk-forum-title-sub">Lesser saying shall place fifth very winged own made midst</div>
                </div>
                <div class="nk-forum-count">
                    78 threads
                </div>
                <div class="nk-forum-activity-avatar">
                    <a href="forum-single-topic.html">
                        <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
                    </a>
                </div>
                <div class="nk-forum-activity">
                    <div class="nk-forum-activity-title" title="Install on Windows 95">
                        <a href="forum-single-topic.html">Install on Windows 95</a>
                    </div>
                    <div class="nk-forum-activity-date">
                        March 2, 2018
                    </div>
                </div>
            </li>
            <li>
                <div class="nk-forum-icon">
                    <span class="ion-playstation"></span>
                </div>
                <div class="nk-forum-title">
                    <h3><a href="/forum-topics">GodLike on PS4</a></h3>
                    <div class="nk-forum-title-sub">Heaven had gathering a seed his won't light firmament of</div>
                </div>
                <div class="nk-forum-count">
                    433 threads
                </div>
                <div class="nk-forum-activity-avatar">
                    <a href="forum-single-topic.html">
                        <img src="assets/images/avatar-3.jpg" alt="Wolfenstein">
                    </a>
                </div>
                <div class="nk-forum-activity">
                    <div class="nk-forum-activity-title" title="How to solve error with PS Network?">
                        <a href="forum-single-topic.html">How to solve error with PS Network?</a>
                    </div>
                    <div class="nk-forum-activity-date">
                        May 19, 2018
                    </div>
                </div>
            </li>
            <li>
                <div class="nk-forum-icon">
                    <span class="ion-xbox"></span>
                </div>
                <div class="nk-forum-title">
                    <h3><a href="forum-topics.html">GodLike on Xbox One</a></h3>
                    <div class="nk-forum-title-sub">Made replenish set man appear seed moveth let above in</div>
                </div>
                <div class="nk-forum-count">
                    321 threads
                </div>
                <div class="nk-forum-activity-avatar">
                    <a href="forum-single-topic.html">
                        <img src="assets/images/avatar-2.jpg" alt="Witch Murder">
                    </a>
                </div>
                <div class="nk-forum-activity">
                    <div class="nk-forum-activity-title" title="I want game quality like on PC!!!">
                        <a href="forum-single-topic.html">I want game quality like on PC!!!</a>
                    </div>
                    <div class="nk-forum-activity-date">
                        Jule 28, 2018
                    </div>
                </div>
            </li>
            <li>
                <div class="nk-forum-icon">
                    <span class="ion-steam"></span>
                </div>
                <div class="nk-forum-title">
                    <h3><a href="forum-topics.html">GodLike on PC (Steam)</a></h3>
                    <div class="nk-forum-title-sub">Make beginning creeping fly divided</div>
                </div>
                <div class="nk-forum-count">
                    156 threads
                </div>
                <div class="nk-forum-activity-avatar">
                    <a href="forum-single-topic.html">
                        <img src="assets/images/avatar-1.jpg" alt="Hitman">
                    </a>
                </div>
                <div class="nk-forum-activity">
                    <div class="nk-forum-activity-title" title="60fps - easy">
                        <a href="forum-single-topic.html">60fps - easy</a>
                    </div>
                    <div class="nk-forum-activity-date">
                        August 18, 2018
                    </div>
                </div>
            </li>
            <li>
                <div class="nk-forum-icon">
                    <span class="ion-fireball"></span>
                </div>
                <div class="nk-forum-title">
                    <h3><a href="forum-topics.html">Flame</a></h3>
                    <div class="nk-forum-title-sub">Dominion. Our seasons creepeth so seed which forth gathering second</div>
                </div>
                <div class="nk-forum-count">
                    1872 threads
                </div>
                <div class="nk-forum-activity-avatar">
                    <a href="forum-single-topic.html">
                        <img src="assets/images/avatar-1.jpg" alt="Hitman">
                    </a>
                </div>
                <div class="nk-forum-activity">
                    <div class="nk-forum-activity-title" title="Download game for free?">
                        <a href="forum-single-topic.html">Download game for free?</a>
                    </div>
                    <div class="nk-forum-activity-date">
                        September 5, 2018
                    </div>
                </div>
            </li>
        </ul>
        <!-- END: Forums List -->

    </div>

    <div class="nk-gap-2"></div>


        
            <!-- START: Footer -->
<footer th:replace="fragments/fragment :: footer" class="nk-footer">
</footer>
<!-- END: Footer -->

        
    </div>

    

    
        <!-- START: Page Background -->

    <img class="nk-page-background-top" src="assets/images/bg-top.png" alt="">
    <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->

    
<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- GSAP -->
<script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

<!-- Popper -->
<script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Sticky Kit -->
<script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

<!-- imagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Flickity -->
<script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- Photoswipe -->
<script src="assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
<script src="assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<!-- Jquery Validation -->
<script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Jquery Countdown + Moment -->
<script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="assets/vendor/moment/min/moment.min.js"></script>
<script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Hammer.js -->
<script src="assets/vendor/hammerjs/hammer.min.js"></script>

<!-- NanoSroller -->
<script src="assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

<!-- SoundManager2 -->
<script src="assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

<!-- Seiyria Bootstrap Slider -->
<script src="assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

<!-- Summernote -->
<script src="assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

<!-- nK Share -->
<script src="assets/plugins/nk-share/nk-share.js"></script>

<!-- GoodGames -->
<script src="assets/js/goodgames.min.js"></script>
<script src="assets/js/goodgames-init.js"></script>
<!-- END: Scripts -->


    
</body>
</html>
