<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames | Gallery - Add</title>


</head>
<body>
<form method="POST" action="/gallery/add" th:object="${galleryAddBindingModel}">
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input th:field="*{title}" th:errorclass="bg-danger" type="text" class="form-control" id="title" placeholder="Title">
            <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" id="titleError" class="form-text bg-danger rounded">Price must be positive</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input th:field="*{description}" th:errorclass="bg-danger" type="text" class="form-control" id="description" placeholder="Description">
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" id="descriptionError" class="form-text bg-danger rounded">Price must be positive</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input th:field="*{url}" th:errorclass="bg-danger" type="url" class="form-control" id="url" placeholder="Image URL">
            <small th:if="${#fields.hasErrors('url')}" th:errors="*{url}" id="imgError" class="form-text bg-danger rounded">Price must be positive</small>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit picture</button>
        </div>
    </div>
</form>
</body>
</html>