<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoodGames | News</title>

    <meta name="description" content="GoodGames - Bootstrap template for communities and games store">
    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">

    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="assets/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    
    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    
    
</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    
        



<!--
    Additional Classes:
        .nk-header-opaque
-->
<header class="nk-header nk-header-opaque">

    
    
<!-- START: Top Contacts -->
<div th:replace="fragments/fragment :: topContacts" class="nk-contacts-top">

</div>
<!-- END: Top Contacts -->

    

    <!--
        START: Navbar

        Additional Classes:
            .nk-navbar-sticky
            .nk-navbar-transparent
            .nk-navbar-autohide
    -->
    <nav th:replace="fragments/fragment :: navbar" class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">

    </nav>
    <!-- END: Navbar -->

</header>

    
    
        <!--
    START: Navbar Mobile

    Additional Classes:
        .nk-navbar-left-side
        .nk-navbar-right-side
        .nk-navbar-lg
        .nk-navbar-overlay-content
-->
<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="home.html" class="nk-nav-logo">
                <img src="assets/images/logo.png" alt="" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav">
                    <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END: Navbar Mobile -->

    

    <div class="nk-main">
        
            <!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">
        
        
        <li><a href="/">Home</a></li>
        
        
        <li><span class="fa fa-angle-right"></span></li>
        
        <li><span>News</span></li>
        
    </ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->

        

        
<div class="container">
    <div class="row vertical-gap">
        <div class="col-lg-8">

            <!-- START: Tabs  -->
            <div class="nk-tabs">
                <!--
                    Additional Classes:
                        .nav-tabs-fill
                -->
                <ul class="nav nav-tabs nav-tabs-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">Action</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">MMO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">Strategy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-1-4" role="tab" data-toggle="tab">Adventure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-1-5" role="tab" data-toggle="tab">Racing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tabs-1-6" role="tab" data-toggle="tab">Indie</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                        <div class="nk-gap"></div>
                        <!-- START: Action Tab -->
                        

<div class="nk-blog-post nk-blog-post-border-bottom">
    <a href="blog-article.html" class="nk-post-img">
        <img src="assets/images/post-2-fw.jpg" alt="Grab your sword and fight the Horde">
        
        <span class="nk-post-categories">
            <span class="bg-main-1">Action</span>
        </span>
        
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="blog-article.html">Grab your sword and fight the Horde</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span> Sep 5, 2018
    </div>
    <div class="nk-post-text">
        <p>For good, too; though, in consequence of my previous emotions, I was still occasionally seized with a stormy sob . After we had jogged on for some little time, I asked the carrier...</p>
    </div>
</div>



<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="blog-article.html" class="nk-post-img">
                <img src="assets/images/post-7-mid-square.jpg" alt="At length one of them called out in a clear">
                
                <span class="nk-post-categories">
                    <span class="bg-main-1">Action</span>
                </span>
                
            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="blog-article.html">At length one of them called out in a clear</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> Jul 3, 2018
            </div>
            <div class="nk-post-text">
                <p>TJust then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
            </div>
        </div>
    </div>
</div>

<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="blog-article.html" class="nk-post-img">
                <img src="assets/images/post-9-mid-square.jpg" alt="He made his passenger captain of one">
                
                <span class="nk-post-categories">
                    <span class="bg-main-1">Action</span>
                </span>
                
            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> Jul 3, 2018
            </div>
            <div class="nk-post-text">
                <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
            </div>
        </div>
    </div>
</div>



                        <!-- END: Action Tab -->
                        <div class="nk-gap"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                        <div class="nk-gap"></div>
                        <!-- START: MMO Tab -->
                        

<div class="nk-blog-post nk-blog-post-border-bottom">
    <a href="blog-article.html" class="nk-post-img">
        <img src="assets/images/post-1-fw.jpg" alt="Smell magic in the air. Or maybe barbecue">
        
        <span class="nk-post-categories">
            <span class="bg-main-4">MMO</span>
        </span>
        
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="blog-article.html">Smell magic in the air. Or maybe barbecue</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span> Sep 18, 2018
        <span class="fa fa-comments"></span> <a href="#">4 comments</a>
    </div>
    <div class="nk-post-text">
        <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between to-day and yesterday! Now I am friendless and alone...</p>
    </div>
</div>



<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="blog-article.html" class="nk-post-img">
                <img src="assets/images/post-5-mid-square.jpg" alt="He made his passenger captain of one">
                
                <span class="nk-post-categories">
                    <span class="bg-main-4">MMO</span>
                </span>
                
            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> Jul 23, 2018
                <span class="fa fa-comments"></span> <a href="#">13 comments</a>
            </div>
            <div class="nk-post-text">
                <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
            </div>
        </div>
    </div>
</div>



                        <!-- END: MMO Tab -->
                        <div class="nk-gap"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                        <div class="nk-gap"></div>
                        <!-- START: Strategy Tab -->
                        

<div class="nk-blog-post nk-blog-post-border-bottom">
    <a href="blog-article.html" class="nk-post-img">
        <img src="assets/images/post-3-fw.jpg" alt="We found a witch! May we burn her?">
        
        <span class="nk-post-categories">
            <span class="bg-main-3">Strategy</span>
        </span>
        
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="blog-article.html">We found a witch! May we burn her?</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span> Aug 27, 2018
        <span class="fa fa-comments"></span> <a href="#">7 comments</a>
    </div>
    <div class="nk-post-text">
        <p>And she went on planning to herself how she would manage it. `They must go by the carrier,' she thought; `and how funny it'll seem, sending presents to one's own feet!...</p>
    </div>
</div>



<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="blog-article.html" class="nk-post-img">
                <img src="assets/images/post-4-mid-square.jpg" alt="For good, too though, in consequence">
                
                <span class="nk-post-categories">
                    <span class="bg-main-3">Strategy</span>
                </span>
                
            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="blog-article.html">For good, too though, in consequence</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> Aug 14, 2018
                <span class="fa fa-comments"></span> <a href="#">23 comments</a>
            </div>
            <div class="nk-post-text">
                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
            </div>
        </div>
    </div>
</div>



                        <!-- END: Strategy Tab -->
                        <div class="nk-gap"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-4">
                        <div class="nk-gap"></div>
                        <!-- START: Adventure Tab -->
                        

<div class="nk-blog-post nk-blog-post-border-bottom">
    <a href="blog-article.html" class="nk-post-img">
        <img src="assets/images/post-6-fw.jpg" alt="At first, for some time, I was not able to answer">
        
        <span class="nk-post-categories">
            <span class="bg-main-2">Adventure</span>
        </span>
        
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="blog-article.html">At first, for some time, I was not able to answer</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span> Jul 3, 2018
        <span class="fa fa-comments"></span> <a href="#">0 comments</a>
    </div>
    <div class="nk-post-text">
        <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
    </div>
</div>



                        <!-- END: Adventure Tab -->
                        <div class="nk-gap"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-5">
                        <div class="nk-gap"></div>
                        <!-- START: Racing Tab -->
                        

<div class="nk-blog-post nk-blog-post-border-bottom">
    <a href="blog-article.html" class="nk-post-img">
        <img src="assets/images/post-7-fw.jpg" alt="At length one of them called out in a clear">
        
        <span class="nk-post-categories">
            <span class="bg-main-5">Racing</span>
        </span>
        
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="blog-article.html">At length one of them called out in a clear</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span> Jul 3, 2018
        <span class="fa fa-comments"></span> <a href="#">0 comments</a>
    </div>
    <div class="nk-post-text">
        <p>TJust then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
    </div>
</div>



<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="blog-article.html" class="nk-post-img">
                <img src="assets/images/post-3-mid-square.jpg" alt="We found a witch! May we burn her?">
                
                <span class="nk-post-categories">
                    <span class="bg-main-5">Racing</span>
                </span>
                
            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="blog-article.html">We found a witch! May we burn her?</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> Aug 27, 2018
                <span class="fa fa-comments"></span> <a href="#">7 comments</a>
            </div>
            <div class="nk-post-text">
                <p>And she went on planning to herself how she would manage it. `They must go by the carrier,' she thought; `and how funny it'll seem, sending presents to one's own feet!...</p>
            </div>
        </div>
    </div>
</div>

<div class="nk-blog-post nk-blog-post-border-bottom">
    <div class="row vertical-gap">
        <div class="col-lg-3 col-md-5">
            <a href="blog-article.html" class="nk-post-img">
                <img src="assets/images/post-4-mid-square.jpg" alt="For good, too though, in consequence">
                
                <span class="nk-post-categories">
                    <span class="bg-main-5">Racing</span>
                </span>
                
            </a>
        </div>
        <div class="col-lg-9 col-md-7">
            <h2 class="nk-post-title h4"><a href="blog-article.html">For good, too though, in consequence</a></h2>
            <div class="nk-post-date mt-10 mb-10">
                <span class="fa fa-calendar"></span> Aug 14, 2018
                <span class="fa fa-comments"></span> <a href="#">23 comments</a>
            </div>
            <div class="nk-post-text">
                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
            </div>
        </div>
    </div>
</div>



                        <!-- END: Racing Tab -->
                        <div class="nk-gap"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabs-1-6">
                        <div class="nk-gap"></div>
                        <!-- START: Indie Tab -->
                        

<div class="nk-blog-post nk-blog-post-border-bottom">
    <a href="blog-article.html" class="nk-post-img">
        <img src="assets/images/post-5-fw.jpg" alt="He made his passenger captain of one">
        
        <span class="nk-post-categories">
            <span class="bg-main-2">Indie</span>
        </span>
        
    </a>
    <div class="nk-gap-1"></div>
    <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
    <div class="nk-post-date mt-10 mb-10">
        <span class="fa fa-calendar"></span> Jul 23, 2018
        <span class="fa fa-comments"></span> <a href="#">13 comments</a>
    </div>
    <div class="nk-post-text">
        <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
    </div>
</div>



                        <!-- END: Indie Tab -->
                        <div class="nk-gap"></div>
                    </div>
                </div>
            </div>
            <!-- END: Tabs -->


            <!-- START: Posts Grid -->
            <div class="nk-blog-grid">
                <div class="row">
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-1-mid.jpg" alt="Smell magic in the air. Or maybe barbecue">
                                <span class="nk-post-comments-count">4</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-4">MMO</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">Smell magic in the air. Or maybe barbecue</a></h2>
                            <div class="nk-post-text">
                                <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between to-day and yesterday! Now I am friendless and alone...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Sep 18, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-2-mid.jpg" alt="Grab your sword and fight the Horde">
                                <span class="nk-post-comments-count">7</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-1">Action</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">Grab your sword and fight the Horde</a></h2>
                            <div class="nk-post-text">
                                <p>For good, too; though, in consequence of my previous emotions, I was still occasionally seized with a stormy sob . After we had jogged on for some little time, I asked the carrier...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Sep 5, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-3-mid.jpg" alt="We found a witch! May we burn her?">
                                <span class="nk-post-comments-count">7</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-2">Adventure</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">We found a witch! May we burn her?</a></h2>
                            <div class="nk-post-text">
                                <p>And she went on planning to herself how she would manage it. `They must go by the carrier,' she thought; `and how funny it'll seem, sending presents to one's own feet!...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Aug 27, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-4-mid.jpg" alt="For good, too though, in consequence">
                                <span class="nk-post-comments-count">23</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-3">Strategy</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">For good, too though, in consequence</a></h2>
                            <div class="nk-post-text">
                                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Aug 14, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-5-mid.jpg" alt="He made his passenger captain of one">
                                <span class="nk-post-comments-count">13</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-5">Indie</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
                            <div class="nk-post-text">
                                <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Jul 23, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-6-mid.jpg" alt="At first, for some time, I was not able to answer">
                                <span class="nk-post-comments-count">0</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-5">Racing</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">At first, for some time, I was not able to answer</a></h2>
                            <div class="nk-post-text">
                                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Jul 3, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-7-mid.jpg" alt="At length one of them called out in a clear">
                                <span class="nk-post-comments-count">0</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-6">MOBA</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">At length one of them called out in a clear</a></h2>
                            <div class="nk-post-text">
                                <p>TJust then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Jul 3, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-8-mid.jpg" alt="For good, too though, in consequence">
                                <span class="nk-post-comments-count">0</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-2">Adventure</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">For good, too though, in consequence</a></h2>
                            <div class="nk-post-text">
                                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Jul 3, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                    <div class="col-md-6">
                        <!-- START: Post -->
                        <div class="nk-blog-post">
                            <a href="blog-article.html" class="nk-post-img">
                                <img src="assets/images/post-9-mid.jpg" alt="He made his passenger captain of one">
                                <span class="nk-post-comments-count">0</span>
                                
                                <span class="nk-post-categories">
                                    <span class="bg-main-1">Action</span>
                                </span>
                                
                            </a>
                            <div class="nk-gap"></div>
                            <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
                            <div class="nk-post-text">
                                <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
                            </div>
                            <div class="nk-gap"></div>
                            <a href="blog-article.html" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            <div class="nk-post-date float-right"><span class="fa fa-calendar"></span> Jul 3, 2018</div>
                        </div>
                        <!-- END: Post -->
                    </div>
                    
                </div>

                <!-- START: Pagination -->
                <div class="nk-pagination nk-pagination-center">
                    <a class="nk-pagination-prev">
                        <span class="ion-ios-arrow-back"></span>
                    </a>
                    <a class="nk-pagination-next">
                        <span class="ion-ios-arrow-forward"></span>
                    </a>
                </div>
                <!-- END: Pagination -->
            </div>
            <!-- END: Posts Grid -->

        </div>
        <div class="col-lg-4">
            <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Video</span></h4>
    <div class="nk-widget-content">
        <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=vXy8UBazlO8"></div>
    </div>
</div>
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Recent</span></h4>
    <div class="nk-widget-content">
        
            <div class="nk-widget-post">
                <a href="blog-article.html" class="nk-post-image">
                    <img src="assets/images/post-1-sm.jpg" alt="">
                </a>
                <h3 class="nk-post-title"><a href="blog-article.html">Smell magic in the air. Or maybe barbecue</a></h3>
                <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 18, 2018</div>
            </div>
        
            <div class="nk-widget-post">
                <a href="blog-article.html" class="nk-post-image">
                    <img src="assets/images/post-2-sm.jpg" alt="">
                </a>
                <h3 class="nk-post-title"><a href="blog-article.html">Grab your sword and fight the Horde</a></h3>
                <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 5, 2018</div>
            </div>
        
            <div class="nk-widget-post">
                <a href="blog-article.html" class="nk-post-image">
                    <img src="assets/images/post-3-sm.jpg" alt="">
                </a>
                <h3 class="nk-post-title"><a href="blog-article.html">We found a witch! May we burn her?</a></h3>
                <div class="nk-post-date"><span class="fa fa-calendar"></span> Aug 27, 2018</div>
            </div>
        
    </div>
</div>
<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Screenshots</span></h4>
    <div class="nk-widget-content">
        <div class="nk-popup-gallery">
            <div class="row sm-gap vertical-gap">
                <div th:each="p : ${pictures}" th:object="${p}" class="col-sm-6">
                    <div class="nk-gallery-item-box">
                        <a th:href="*{url}" class="nk-gallery-item" data-size="1016x572">
                            <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                            <img th:src="*{url}" alt="">
                        </a>
                        <div th:text="*{description}" class="nk-gallery-item-description">
                            Divided thing, land it evening earth winged whose great after. Were grass night. To Air itself saw bring fly fowl. Fly years behold spirit day greater of wherein winged and form. Seed open don't thing midst created dry every greater divided of, be man is. Second Bring stars fourth gathering he hath face morning fill. Living so second darkness. Moveth were male. May creepeth. Be tree fourth.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>
</div>

<div class="nk-gap-2"></div>


        
            <!-- START: Footer -->
<footer th:replace="fragments/fragment :: footer" class="nk-footer">

</footer>
<!-- END: Footer -->

        
    </div>

    

    
        <!-- START: Page Background -->

    <img class="nk-page-background-top" src="assets/images/bg-top-5.png" alt="">
    <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->


    

    
<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- GSAP -->
<script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

<!-- Popper -->
<script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Sticky Kit -->
<script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

<!-- imagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Flickity -->
<script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- Photoswipe -->
<script src="assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
<script src="assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<!-- Jquery Validation -->
<script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Jquery Countdown + Moment -->
<script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="assets/vendor/moment/min/moment.min.js"></script>
<script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Hammer.js -->
<script src="assets/vendor/hammerjs/hammer.min.js"></script>

<!-- NanoSroller -->
<script src="assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

<!-- SoundManager2 -->
<script src="assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

<!-- Seiyria Bootstrap Slider -->
<script src="assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

<!-- Summernote -->
<script src="assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

<!-- nK Share -->
<script src="assets/plugins/nk-share/nk-share.js"></script>

<!-- GoodGames -->
<script src="assets/js/goodgames.min.js"></script>
<script src="assets/js/goodgames-init.js"></script>
<!-- END: Scripts -->


    
</body>
</html>
